---
import BriefCase from "@icons/BriefCase.astro";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE_TIME_LINE = [
  {
    date: "Actualmente...",
    title: "Intern FullStack Developer",
    company: "Sovos",

    description:
      "Desarrollo y ayudo al mantenimiento de la aplicación de dec5 doy soporte técnico y ayudo con una nueva arquitectura para utilizar el backend de manera mas eficiente con las bases de código limpio y arquitectura limpia",
  },
  {
    date: "2022",
    title: "Inter FullStack Developer",
    company: "EmpireSystemSA",

    description:
      "Cree paginas web para inversion con criptomonedas ademas de aplicaciones de escrito ERP para tiendas en el Ecuador",
  },
];
---

<div class="flex flex-row gap-x-4 items-center mb-5">
  <BriefCase class="size-10" />
  <h2>Experiencia Laboral</h2>
</div>
<ol class="relative ml-4 px-6 border-s border-gray-100">
  {
    EXPERIENCE_TIME_LINE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
